# 初识Pandas
Pandas是以NumPy为基础，在其之上提供更加易用的数据结构和数据分析工具，可帮助提高工作效率。

首先，pandas重点提供两种数据结构：
- **Series**
序列， 一维数据，是对NumPy的一维数组的封装，可自定义索引（index）
这点类似于Linux shell script中的关联数组
- **DataFrame**
数据框，二位数据，是对NumPy的二维数组的封装，可自定义索引（index）和列名（column）

除此之外，还有

- describe：快速计算数据的各种描述性统计值
- unique：数据的独立值列表
- value_count： 各个值的计数
- hist：直接绘制直方图
- plot：对matplotlib进行简单封装，执行简单的绘图功能

小工具：
- 便捷的I/O
- 媲美SQL的功能
- 媲美Excel的功能：透视表

最后，Pandas的文档非常丰富，更新频繁，社区十分活跃。

首先，导入需要的模块

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# 创建对象（object creation）

In [2]:
s = pd.Series([1,3,4,np.nan,6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20171026', periods=6)
dates

DatetimeIndex(['2017-10-26', '2017-10-27', '2017-10-28', '2017-10-29',
               '2017-10-30', '2017-10-31'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=tuple('ABCD'))#此处tuple('ABCD)is short for ('A','B','C','D')
df

                   A         B         C         D
2017-10-26 -0.138409  1.075475  0.323822 -0.953003
2017-10-27  0.341625  0.758314 -1.161088 -1.591416
2017-10-28  1.114214  0.514653  0.449706  0.145602
2017-10-29  0.003882 -2.123940 -0.831496  0.077083
2017-10-30  0.386091  0.497921 -0.994811  1.003608
2017-10-31 -1.431878  2.378127 -0.602382 -0.752360

可使用一个字典dict 来创建一个DataFrame对象，而且它会自动应用NumPy的广播（自动复制）

In [5]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20171026'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3]*4, dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]), #类别数据
                    'F' : 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2017-10-26  1.0  3   test  foo
1  1.0 2017-10-26  1.0  3  train  foo
2  1.0 2017-10-26  1.0  3   test  foo
3  1.0 2017-10-26  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df2.C #等价于 df2['C']

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

## 查看数据（viewing data）

In [8]:
df.head()  #默认给出五行

                   A         B         C         D
2017-10-26 -0.138409  1.075475  0.323822 -0.953003
2017-10-27  0.341625  0.758314 -1.161088 -1.591416
2017-10-28  1.114214  0.514653  0.449706  0.145602
2017-10-29  0.003882 -2.123940 -0.831496  0.077083
2017-10-30  0.386091  0.497921 -0.994811  1.003608

In [9]:
df.tail() # 默认后面五行

                   A         B         C         D
2017-10-27  0.341625  0.758314 -1.161088 -1.591416
2017-10-28  1.114214  0.514653  0.449706  0.145602
2017-10-29  0.003882 -2.123940 -0.831496  0.077083
2017-10-30  0.386091  0.497921 -0.994811  1.003608
2017-10-31 -1.431878  2.378127 -0.602382 -0.752360

In [10]:
df.index

DatetimeIndex(['2017-10-26', '2017-10-27', '2017-10-28', '2017-10-29',
               '2017-10-30', '2017-10-31'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.13840912,  1.07547457,  0.3238223 , -0.95300329],
       [ 0.34162452,  0.75831372, -1.16108755, -1.59141577],
       [ 1.11421423,  0.51465265,  0.44970565,  0.1456018 ],
       [ 0.00388167, -2.12393991, -0.83149599,  0.07708345],
       [ 0.38609127,  0.49792113, -0.99481053,  1.003608  ],
       [-1.43187766,  2.37812713, -0.60238167, -0.75236001]])

In [13]:
df.describe()  # 给出数据的统计特性

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.045921  0.516758 -0.469375 -0.345081
std    0.844280  1.470296  0.689528  0.930242
min   -1.431878 -2.123940 -1.161088 -1.591416
25%   -0.102836  0.502104 -0.953982 -0.902842
50%    0.172753  0.636483 -0.716939 -0.337638
75%    0.374975  0.996184  0.092271  0.128472
max    1.114214  2.378127  0.449706  1.003608

In [14]:
df.T #转置

   2017-10-26  2017-10-27  2017-10-28  2017-10-29  2017-10-30  2017-10-31
A   -0.138409    0.341625    1.114214    0.003882    0.386091   -1.431878
B    1.075475    0.758314    0.514653   -2.123940    0.497921    2.378127
C    0.323822   -1.161088    0.449706   -0.831496   -0.994811   -0.602382
D   -0.953003   -1.591416    0.145602    0.077083    1.003608   -0.752360

In [19]:
df.sort_index(axis=1, ascending=False) #按照列名（axis=1）或行名进行排序

                   D         C         B         A
2017-10-26  1.825721 -0.561792  1.602367 -1.331770
2017-10-27  0.671658  0.432401 -0.765978  0.251834
2017-10-28 -1.406542  0.012585 -0.909648 -1.150419
2017-10-29  0.872013 -0.756374  1.517355  1.607818
2017-10-30  1.379843  1.136394  0.133495  1.340570
2017-10-31  0.263155 -0.768821  0.844860 -0.205709

In [20]:
df.sort_values(by='B') #按照B列的数据排序

                   A         B         C         D
2017-10-28 -1.150419 -0.909648  0.012585 -1.406542
2017-10-27  0.251834 -0.765978  0.432401  0.671658
2017-10-30  1.340570  0.133495  1.136394  1.379843
2017-10-31 -0.205709  0.844860 -0.768821  0.263155
2017-10-29  1.607818  1.517355 -0.756374  0.872013
2017-10-26 -1.331770  1.602367 -0.561792  1.825721

## 选择数据